:root {
    --color-bg: #1E2021;
    --color-fg: #039be5;
    --color-link: #c9c9c9;
    --color-link-visited: #c9c9c9;
    --color-link-hover: #8ad1cf ;
}

html, body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: "JetBrains Mono Nerd Font", monospace;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 50vh 80vh 1fr;
  grid-template-areas:
    ". left right .";
  column-gap: 7vh;
  justify-items: left;
  align-items: center;
  min-height: 100%;
}

.left {
  grid-area: left;
  aspect-ratio: 1/1;
}

.right {
  grid-area: right;
  background-color: #1A1C1D;
  padding-bottom: 3vh;
  padding-left: 1.5vh;
}

.image img {
  margin-bottom: 2.5vh;
  height: 45vh;
  max-height: 60vh;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 2.5vh;
  font-size: 2vh;
  padding-top: 3.5vh;

}

.head2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 2.5vh;
  font-size: 2vh;
  padding-top: 3vh;
}

.category {
  display: flex;
  flex-direction: column;
  width: 20vh;
}

.bookmarks {
  display: flex;
}

.search-form {
  width: 90vh;
  outline: none;
  border: none;
  background-color: #1a1c1d;
  color: #c9c9c9;
  font-size: 1.5vh;
  padding-top: 1.5vh;
  font-family: "JetBrains Mono Nerd Font", monospace;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 1.5vh;
  padding-bottom: 2vh;
  padding-left: 2.5vh;
}

.title {
  font-size: 2vh;
  padding-bottom: 1vh;
  color: #adadad;

}

li {
  font-size:1.5vh;
  list-style-type: none;
  padding: 0.5vh;
}

a:link {
  text-decoration: none;
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
}


@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
